* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 142px;
}
footer {
  background-color: #222;
  border: 1px solid #080808;
  color: #FFF;
  padding: 25px;
}
.navbar {
  border-radius: 0px;
}
.signin-form {
  width: 300px;
  padding: 25px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 25px;
}
.col-md-1 col-md-offset-1{
	width:100%;

}
table{
	width:90%;
}
th{
	background-color:black;
	color:white;
}
/*css global tabela*/
table{width: 200px;border-collapse: collapse;}

/*colocando bordas nas linhas*/
table tr{border:1px black solid;}

/*Definido cor das linhas pares*/
table tr:nth-child(even) {background: #FFF}

/*Definindo cor das Linhas impáres*/
table tr:nth-child(odd) {background: #EEE}  
